#main {
  /* width: 100vw;
  height: 100vh; */
  /* margin: 0 auto; */
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  /* border: 1px solid black; */
}

.row {
  display: flex;
  flex: 1;
}

.tile {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: rgb(60, 60, 60);
}

.ball {
  border-radius: 50%;
  display: flex;
  flex: 1;
  border: 5px solid white;
  margin: 12%;
  /* animation: border-unhover 0.5s ease-in-out; */
}

.ballPrev {
  border-radius: 50%;
  display: flex;
  flex: 1;
  /* display: inline-block;
  width: 50px;
  height: 50px; */
  /* box-sizing: border-box; */
  border: 5px solid white;
  margin: 5px;
}

.prev {
  margin: 20px;
  padding: 10px;
  display: flex;
  width: 270px;
  height: 50px;
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
  /* justify-content: center; */
  /* align-items: center; */
}

.next {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  text-align: center;
  font-size: 22px;
  color: white;
  display: block;
  width: 120px;
}

.ball:hover {
  /* animation: border-hover 0.5s ease-in-out; */
  /* border: none; */
  cursor: pointer;
}

/* .ball:active {
    border: none;
} */

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes border-hover {
  0% {
    border: 5px solid white;
  }
  100% {
    border: none;
  }
}

@keyframes border-unhover {
  0% {
    border: none;
  }
  100% {
    border: 5px solid white;
  }
}
